body {
    background-color: #F8F8F8;
}

header {
    border: 1px red;
}

.g-logo {
    width: 148px;
    padding: 4px 30px 4px 30px;
}

.nav {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#hero {
    outline: 1px, red;
}

.hero-img {

}

#profile {

}

.profile-pic {

}

.profile-h1 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 700;
    font-style: normal;
}

.profile-h2 {

}

.profile-p {

}

#profile-buttons {

}

.profile-button {

}

.icon-linkedin {

}